body {
  background-color:bisque;
}
p {
  color: blueviolet;
  font-weight: bold;
}
#para1 {
  color:red;
}
.class1 {
  color:green;
  background-color: d0c7c5;
}
p.class1 {
  font-weight:bold;
}
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
/*Group of similar styles for headers 3-5*/
h3,h4,h5 {
  font-family:Arial, Helvetica, sans-serif;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
